doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')  
    title= "TaskTracer"
    link(rel="stylesheet",href="/assets/stylesheets/bootstrap.min.css")
    link(rel="stylesheet",href="/assets/stylesheets/toastr.css")
    block css
  body
    - var calling_from_iframe = fromIframe != undefined
    - var extra_klass = calling_from_iframe? 'fulfill-page' : ""
    .container.marketing(class=extra_klass)
      block content

    block js
